In [2]:
import pandas as pd
# URL of the page
url = "https://archive.ics.uci.edu/dataset/320/student+performance"

# Read all tables from the page
tables = pd.read_html(url)

# Check how many tables were found
print(f"Found {len(tables)} tables on the page.")

# Assuming the first table is the variables table
variables_table = tables[0]

Found 2 tables on the page.

,Variable Name,Role,Type,Demographic,Description,Units,Missing Values
0,school,Feature,Categorical,NaN,student's school (binary: 'GP' - Gabriel Perei...,NaN,no
1,sex,Feature,Binary,Sex,student's sex (binary: 'F' - female or 'M' - m...,NaN,no
2,age,Feature,Integer,Age,student's age (numeric: from 15 to 22),NaN,no
3,address,Feature,Categorical,NaN,student's home address type (binary: 'U' - urb...,NaN,no
4,famsize,Feature,Categorical,Other,family size (binary: 'LE3' - less or equal to ...,NaN,no

In [8]:
variables_table.to_csv("C:\\Users\\Chethan\\PycharmProjects\\JupyterProject\\data\\variables_table.csv", index=False)